.AboutBanner {
  background: linear-gradient(rgba(57, 108, 240, 0.4), rgba(57, 108, 240, 0.4)),
    url(./../../Images/About/about-banner1.jpg);
  background-position: center;
  background-size: cover;
}
.aboutCheck {
  padding: 0;
}
.aboutCheck li {
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;
}
.about1 {
  background: url(./../../Images/About/about1.jpg);
  height: 400px;
  background-position: center;
  background-size: cover;
}
