.hover-shadow-lg {
  overflow: hidden;
  border-radius: 20px !important;
  -webkit-border-radius: 20px !important;
  -moz-border-radius: 20px !important;
  -ms-border-radius: 20px !important;
  -o-border-radius: 20px !important;
}
.bg-none {
  background: none;
  padding: 20px 0;
}
.hover-shadow-lg:hover {
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2) !important;
}
