.cartTextHover {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.cart {
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  transition: all ease-in-out;
  -webkit-transition: all ease-in-out;
  -moz-transition: all ease-in-out;
  -ms-transition: all ease-in-out;
  -o-transition: all ease-in-out;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.cart:hover {
  box-shadow: 0 5px 20px #4a79f163 !important;
}
.cart:hover .cartTextHover {
  color: #4a79f1;
}
.liked {
  cursor: pointer;
}
.line {
  line-height: 25px;
}
